<pre>
    {{#items}}
        <span style='color:red'>hdp:{{hdp}}</span>&nbsp;@&nbsp;<span style='color:blue'>{{odds}}</span><br />
        <span>{{OddsType}}</span><br/>
        <span>{{PlayType}}</span><br />
        <span>status:{{status}}</span><br />
        <span style='color:red'>{{HomeTeam}}&nbsp;</span>-vs-<span style='color:blue'>&nbsp;{{AwayTeam}}</span><br />
        <span style='color:purple'>{{LeagueName}}</span><br />
        <span>ht:{{htHomeScore}}:{{htAwayScore}}/ft:{{ftHomeScore}}:{{ftAwayScore}}</span>
    {{/items}}
    <hr />
</pre>