<pre>
    {{#items}}
        <span style='color:red'>让球数:{{hdp}}</span>&nbsp;@&nbsp;<span style='color:blue'>{{odds}}</span><br />
        <span>{{OddsType}}</span><br/>
        <span>{{PlayType}}</span><br />
        <span>状态:{{status}}</span><br />
        <span style='color:red'>{{HomeTeam}}&nbsp;</span>-vs-<span style='color:blue'>&nbsp;{{AwayTeam}}</span><br />
        <span style='color:purple'>{{LeagueName}}</span><br />
        <span>上半场:{{htHomeScore}}:{{htAwayScore}}/全场:{{ftHomeScore}}:{{ftAwayScore}}</span>
    {{/items}}
    <hr />
</pre>