<pre>
    <div style="color:orange">{{orderTime}}</div>
    {{#items}}
    <span>{{league}}</span><br>
    <span>{{home}}</span><span style="color: blue;"> VS.</span><span>{{away}} </span><br>
    <span style="color: red;">{{score}}</span><br>
    <span style="color: blue;">[{{betOption}}]</span><br>
    <span style="color: green;">{{resultscore}} </span><br>
    <span style="color: red;">{{order}} </span><br>
    <span>{{oddsFormat}}@</span> <span style="color: red;">{{odds}}</span><br>
    <span style="color: green;">{{cashout}} </span><br>
    <hr>
    {{/items}}
</pre>